<div>
    <h2>Cerca Carta</h2>
    <input type="text" [(ngModel)]="searchText" placeholder="Inserisci carta(ENG)">
    <button (click)="searchCard()">Cerca</button>
</div>
<br>
<div>
    <button (click)="getRouterParam" routerLink="/generic/charmander">Charmander</button>
    <button (click)="getRouterParam" routerLink="/generic/diglett">Diglett</button>
    <button (click)="getRouterParam" routerLink="/generic/energia">Energia</button>
    <button (click)="getRouterParam" routerLink="/generic/snorlax">Snorlax</button>
</div>
<div>
    <h1>{{guy.data.name}}</h1>
    <img src="{{guy.data.images.small}}">
</div>
<br>
<div>
    <p>HP: {{guy.data.hp}}</p>
    <p>Type: {{guy.data.types}}</p>
    <p>Evolution: {{guy.data.evolvesTo}}</p>
    <p>Artista: {{guy.data.artist}}</p>
    <p>Rarity: {{guy.data.rarity}}</p>
</div>
<br>
<div *ngIf="cardList && cardList.length > 0">
    <h2>Risultati della ricerca:</h2>
    <ul>
      <li *ngFor="let card of cardList">
        <img [src]="card.images.small" alt="{{ card.name }}">
        <h3>{{ card.name }}</h3>
        <p>Rarità: {{ card.rarity }}</p>
      </li>
    </ul>
</div>
