<div class="box">
    <h1 class="name">{{guy.data.name}}</h1>
    <br>
    <img class="img" alt="" src="{{guy.data.images.small}}">
</div>
<button (click)="getRouterParam" routerLink="/generic/charmander">charmander</button>
<button (click)="getRouterParam" routerLink="/generic/diglett">diglett</button>
<button (click)="getRouterParam" routerLink="/generic/energia">energia</button>
<button (click)="getRouterParam" routerLink="/generic/snorlax">snorlax</button>
<br>
<button *ngFor="let item of xxx" (click)="pleasefuckingwork(item.rarity)">{{item.name}}</button>
