<div>
    <button (click)="getRouterParam" routerLink="/generic/charmander">Charmander</button>
    <button (click)="getRouterParam" routerLink="/generic/diglett">Diglett</button>
    <button (click)="getRouterParam" routerLink="/generic/energia">Energia</button>
    <button (click)="getRouterParam" routerLink="/generic/snorlax">Snorlax</button>
</div>
<br>
<div>
    <h1>{{guy.data.name}}</h1>
    <br>
    <img src="{{guy.data.images.small}}">
</div>
<br>
<div>
    <p>HP: {{guy.data.hp}}</p>
    <p>Type: {{guy.data.types}}</p>
    <p>Evolution: {{guy.data.evolvesTo}}</p>
    <p>Attacks: {{guy.data.attacks}}</p>
    <p>Weaknesses: {{guy.data.weaknesses}}</p>
    <p>Artista: {{guy.data.artist}}</p>
    <p>Rarity: {{guy.data.rarity}}</p>
</div>
