<div class="container">
  <div class="navbar navbar-expand-lg navbar-light bg-light">
    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
      <li class="nav-item nav-link" routerLink="/generic/charmander" routerLinkActive="active-menu">Charmander</li>
      <li class="nav-item nav-link" routerLink="/generic/diglett" routerLinkActive="active-menu">Diglett</li>
      <li class="nav-item nav-link" routerLink="/generic/energia" routerLinkActive="active-menu">Energia</li>
      <li class="nav-item nav-link" routerLink="/generic/snorlax" routerLinkActive="active-menu">Snorlax</li>
    </ul>
    <router-outlet></router-outlet>
  </div>
    <footer class="bg-light text-center">Hello, I'm a footer 😁</footer>
</div>